{% extends "basic.html" %}

{% block meta %}
<meta name="description" content="  Certifications : Sinal : Division des Etudes et de Réalisation en Engineering Scientifique">
{% endblock meta %}

{% block title %}Certafications{% endblock title %}

{% block body %}
<br><br>
<div class='container '>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia id ad ipsa vel itaque doloribus cum nam sequi nihil dolorem quia dolore modi ab officia, corporis laboriosam, accusamus dicta est? Sed ipsa tenetur maiores dolorem aspernatur assumenda quibusdam ex soluta est, eum amet nobis a veritatis et, non necessitatibus numquam atque pariatur mollitia possimus, odio dolores eveniet impedit! Cumque ad veniam quas ex itaque ullam omnis, animi magnam rerum debitis nesciunt doloremque, vitae aliquam inventore. Placeat nihil, et commodi obcaecati accusantium est quisquam nesciunt doloribus deserunt assumenda suscipit expedita eveniet, consectetur minus a voluptatibus numquam recusandae qui ab tenetur odit.</p>
        </div>
    </div>
</div>
{% endblock body %}